{%  extends "base/base.html" %}

{% load staticfiles %}

{% block appStylesheet %}
    <link rel ="stylesheet" type="text/css" href="{% static "hours/css/hours.css" %}" />
{% endblock %}

{% block body %}
    <div class="hoursHeader">
        <h1>Hours of Operation</h1>
    </div>
    {% for day in hoursList %}
        <div class="dayOfWeek">
            <p>{{ day.get_day_name_display }}</p>
        </div>
        <div class="hoursForDay">
            <p>{{ day.get_hours_range }}</p>
        </div>
    {% endfor %}
    <div class="hoursFooter">
        <h3>Contact us for the hours of individual stylists</h3>
    </div>
{% endblock %}