{%  extends "base/base.html" %}

{% load staticfiles %}

{% block appStylesheet %}
    <link rel ="stylesheet" type="text/css" href="{% static "hours/css/hours.css" %}" />
{% endblock %}

{% block body %}
    <div class="hoursHeader">
        <h1>Hours of Operation</h1>
    </div>
    <div class="hoursContainer">
        <!--Print day of week and hours in a row and change class every other row for styling-->
        {% for day in hoursList %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="even">
            {% else %}
                <div class="odd">
            {% endif %}
                    <p class="dayOfWeek">{{ day.get_day_name_display }}</p>
                    <p class="hoursForDay">{{ day.get_hours_range }}</p>
                </div>
        {% endfor %}
    </div>
    <div class="hoursFooter">
        <h3>Contact us for the hours of individual stylists</h3>
    </div>
{% endblock %}
