/**
 * Basic styling for the Location app
 */

/* Google maps directions step colors */
.adp-substep{
    background-color: darkorchid;
    color: #ffe9f0;
}

.directionsFormHolder {
    width: 50%;
    height: 60%;
    float: right;
}

.formRow > label {
    float: left;
    width: 35%;
    clear: left;
    text-align: right;
}

.formRow > input, .formRow > select {
    float: left;
    width: 40%;
    margin-bottom: 5px;
}

#directionsResult {
    text-align: center;
    margin: auto;
    width: 60%;
    clear: both;
}

#directionsError {
    color: rgb(255, 0, 0);
    text-align: center;
    font-weight: bold;
}

#directionsForm{
    height: 50%;
}

#directionsForm > input{
    margin-left: 40%;
    width: 25%;
    font-size: 20px;
}

#storeMap {
    width: 50%;
    height: 50%;
    float: left;
}
