/**
 * Basic styling for the Location app
 */

/* Google maps directions step colors */

/*
 * Override base font sizes to be height relative instead of width
 */
h2 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 3.5vh;
}

p, label, input, select {
    font-size: 1.5vh;
    font-size: 1.5vw;
}

.adp-substep{
    background-color: darkorchid;
    color: #ffe9f0;
}

.directionsFormHolder {
    width: 50%;
    height: 50%;
    float: right;
}

.formRow > label {
    float: left;
    width: 30%;
    clear: left;
    text-align: right;
}

.formRow > input, .formRow > select {
    float: left;
    width: 50%;
    margin-bottom: 5px;
}

#directionsResult {
    display: block;
    float:left;
    text-align: center;
    width: 60%;
}

#directionsError {
    color: rgb(255, 0, 0);
    text-align: center;
    font-weight: bold;
}

#directionsForm{
    height: 50%;
}

#directionsForm > input{
    margin-left: 33%;
    width: 45%;
}

#storeMap {
    width: 50%;
    height: 60%;
    float: left;
}
