/**
 * Basic styling for the Location app
 */

.addressStatic {
    width: 100%;
    height: 35%;
    text-align: center;
}

.directionsFormHolder {
    width: 50%;
    height: 50%;
    float: right;
}

#directions {
    text-align: center;
    margin: auto;
    width: 60%;
}

#directionsError {
    color: rgba(255, 0, 0, 0.99);
    text-align: center;
    font-weight: bold;
}

#directionsForm{
    height: 50%;
}

#directionsForm > label {
    float: left;
    width: 35%;
    clear: left;
    text-align: right;
    font-size: 25px;
}

#directionsForm > input, #directionsForm > select {
    float: left;
    width: 40%;
    font-size: 20px;
    margin-bottom: 5px;
}

#directionsForm > input[type='button'] {
    margin-left: 40%;
    width: 25%;
    font-size: 20px;
}

#storeMap {
    width: 50%;
    height: 50%;
    float: left;
}
