/**
 * Main CSS for the Contact application
 */

h5 {
  color: red;
  text-align: center;
}

.contactForm {
  & > input, & > textarea {
    float: left;
    width: 55%;
    margin-bottom: 5px;
  }
  & > label {
    float: left;
    width: 25%;
    margin-right: 5px;
    clear: left;
    text-align: right;
  }
  & > small {
    float: left;
    margin-left: 25.5%;
    clear: both;
  }
}

.errorFormField {
  color: red;
}

.submitButton {
  margin-left: 26%;
  clear: both;
}
