/**
 * Define all of the CSS styling for the base template
 */
.buttonColorDisplay {
  background: -webkit-linear-gradient(top, #34696f, #2f5f63);
  background: -moz-linear-gradient(top, #34696f, #2f5f63);
  background: -o-linear-gradient(top, #34696f, #2f5f63);
  background: -ms-linear-gradient(top, #34696f, #2f5f63);
  background: linear-gradient(top, #34696f, #2f5f63);
}
body {
  width: 75%;
  background-color: #00ccff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding-bottom: 50px;
}
h1,
h2,
h3 {
  text-align: center;
  color: #ffefbe;
}
h1 {
  font-size: 3vw;
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 1.75vw;
}
p,
label,
small {
  color: #ffe9f0;
}
input,
select,
p,
label {
  font-size: 1.5vw;
}
/**************************************
       NavBar with dropdown menu
 **************************************
/*
    Overview: Pure CSS NavBar with dropdown menu.
              Resizable/scalable to fit different size monitors/browser-windows
              Uses ul/li nested structure.
*/
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
  width: 100%;
}
/*
    NavBar container:
*/
.navBar {
  margin: auto auto;
  padding: 3px;
  background-color: #fdfd96;
}
/*
    Parent list:
*/
.navBar ul {
  list-style: none;
  position: relative;
  display: inline-table;
}
/*
    Parent list items:
    100%/6(items) = 16.66%
*/
.navBar ul li {
  float: left;
  width: 16.66%;
}
/*
    Each list item has a corresponding button
*/
.navBar ul li a {
  display: block;
  color: #4B0082;
}
/*
    Change button color on mouse hover.
*/
.navBar ul li:hover a {
  color: #FFBBFF;
}
/*
    First nested list:
    display set to none so nested list (drop down items) is hidden by default.
*/
.navBar ul ul {
  padding: 0;
  position: absolute;
  top: 100%;
  display: none;
  width: 135%;
}
/*
    Nested list items:
*/
.navBar ul ul li {
  float: none;
  position: relative;
  width: 100%;
}
/*
   Nested list items' corresponding buttons:
*/
.navBar ul ul li a {
  width: 100%;
}
/*
    Change color on hover.
*/
.navBar ul ul li a:hover {
  color: #003366;
}
/*
    Simple drop down magic:
    Nested ul items are hidden by default, however,
    if a list item that is hovered on has a nested ul element,
    display is changed to block and will reveal the nested list's items!
*/
.navBar ul li:hover > ul {
  display: block;
  z-index: 1000;
}
/*
    style element to look like button
*/
.buttonLink {
  /* Basic Button Styles */
  display: block;
  min-height: 75%;
  min-width: 90%;
  background: #34696f;
  border: 2px solid rgba(33, 68, 72, 0.59);
  /* Text/Link Styles */
  color: rgba(0, 0, 0, 0.55);
  text-align: center;
  font: 1.5vw "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-decoration: none;
  /* Fancy CSS3 Styles */
  background: -webkit-linear-gradient(top, #34696f, #2f5f63);
  background: -moz-linear-gradient(top, #34696f, #2f5f63);
  background: -o-linear-gradient(top, #34696f, #2f5f63);
  background: -ms-linear-gradient(top, #34696f, #2f5f63);
  background: linear-gradient(top, #34696f, #2f5f63);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  -moz-border-radius: 20px;
  box-shadow: 0 4px 0 #1b383b;
  -webkit-box-shadow: 0 4px 0 #1b383b;
  -moz-box-shadow: 0 4px 0 #1b383b;
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}
.buttonLink:hover {
  background: #3d7a80;
  background: -webkit-linear-gradient(top, #34696f, #2f5f63);
  background: -moz-linear-gradient(top, #34696f, #2f5f63);
  background: -o-linear-gradient(top, #34696f, #2f5f63);
  background: -ms-linear-gradient(top, #34696f, #2f5f63);
  background: linear-gradient(top, #34696f, #2f5f63);
  border-color: ButtonHighlight;
}
/*****************************************
             End of NavBar
*****************************************/
.content,
.header,
.footer,
.navBar {
  border: 1px solid black;
  border-radius: 10px;
}
.content {
  background-color: #a94cff;
  overflow: auto;
}
.header {
  background-color: #aa6a87;
}
.header > h1 {
  -webkit-text-stroke: 1px red;
  vertical-align: middle;
  margin-top: 0;
  color: #ffffff;
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 12px;
}
.footer {
  text-align: center;
  width: inherit;
  background-color: #f4c7da;
  bottom: 0;
  position: absolute;
  height: 50px;
}
.footer p {
  margin-top: 0;
  color: #7032ff;
  font-size: 14px;
}
#addressStatic {
  float: left;
  width: 33%;
  text-align: center;
}
#facebookContainer {
  width: 33%;
  float: left;
}
#facebookLink {
  margin-top: 5px;
  height: 40px;
}
#number {
  font-size: 2vw;
  margin-top: 4px;
}
