/**
 * Define all of the CSS styling for the base template
 */

body {
    width: 75%;
    background-color: #FFFDD0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 50px;
}

button {
    min-height: 40px;
    min-width: 100%;
    font-size: 2.5vw;
}

h1, h2, h3 {
    text-align: center;
    color: #ffefbe
}

p, label, small {
    color: #ffe9f0;
}

p {
    font-size: 20px;
}

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    width: 100%;
}

.navBar {
    margin: auto auto;
    background-color: purple;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}

.navBar ul {
    background-color: purple;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

.navBar ul:after {
    display: block;
}

.navBar ul li {
    float: left;
    width: 16.66%;
}

.navBar ul li button {
    display: block;
    background-color: mediumaquamarine;
    color: white;
    width: 100%;
}

.navBar ul li:hover button {
    color: black;
}

.navBar ul li:hover > ul {
    display: block;
    z-index: 1000;
}

.navBar ul ul {
    background-color: purple;
    border-radius: 0px;
    padding: 0;
    position: absolute;
    top: 100%;
    display: none;
    width: 135%;
}

.navBar ul ul li {
    float: none;
    position: relative;
    width: 100%;
}

.navBar ul ul li button {
    width: 100%;
}

.navBar ul ul li button:hover {
    display: block;
    background-color: orange;
    color:white;
}

.content, .header, .footer, .navBar {
    border: 1px solid black;
    border-radius: 10px;
}

.content {
    background-color: rgb(104, 99, 255);
    overflow: auto;
}

.header {
    background-color: darkslateblue;
}

.header > h1 {
    vertical-align: middle;
    margin-top: 0;
    font-size: 40px;
    color: #ffffff;
    -webkit-text-stroke: 1px red;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 12px;
}

.footer {
    text-align: center;
    width: inherit;
    background-color: #f4c7da;
    bottom: 0;
    position: absolute;
    height: 50px;
}
.footer > p {
    vertical-align: top;
}

#facebookLink{
    margin-top: 5px;
    height: 40px;
}

#time {
    display: inline-block;
    color: #a42bff;
}