/**
 * Define all of the CSS styling for the base template
 */

body {
    width: 75%;
    background-color: #FFFDD0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.navBar {
    font-size: 0;
    padding: 0;
    margin: 0;
}
.navBar>button {
    height: 55px;
    font-size: 20px;
    background-color: paleturquoise;
}
.navBar>button:hover {
    background-color: lightseagreen;
}
.header {
    background-color: aqua;
    border: 1px solid black;
}
.header>h1 {
    vertical-align: middle;
    text-align: center;
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 12px;
}
.content {
    background-color: mediumpurple;
    border: 1px solid black;
    overflow: auto;
}
.footer {
    text-align: center;
    width: inherit;
    background-color: seagreen;
    bottom: 0;
    position: absolute;
    height: 50px;
    border: 1px solid black;
}