/**
 * Define all of the CSS styling for the base template
 */

body {
    width: 75%;
    background-color: #00ccff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 50px;
}

button {
    min-height: 40px;
    min-width: 100%;
    font-size: 2vw;
}

h1, h2, h3 {
    text-align: center;
    color: #ffefbe;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.5vw;
}

h3 {
    font-size: 1.75vw;
}

p, label, small {
    color: #ffe9f0;
}

p, label, input, select {
    font-size: 1.5vw;
}

ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    width: 100%;
}

.navBar {
    margin: auto auto;
    background-color: #00ffc0;
    padding: 10px 10px 8px 10px;
    text-align:center;
}

.navBar ul {
    background-color: purple;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}

.navBar ul:after {
    display: block;
}

.navBar ul li {
    float: left;
    width: 16.66%;
}

.navBar ul li button {
    display: block;
    background-color: #83adcd;
    color: #963226;
}

.navBar ul li:hover button {
    color: #7fd951;
}

.navBar ul li:hover > ul {
    display: block;
    z-index: 1000;
}

.navBar ul ul {
    padding: 0;
    position: absolute;
    top: 100%;
    display: none;
    width: 135%;
}

.navBar ul ul li {
    float: none;
    position: relative;
    width: 100%;
}

.navBar ul ul li button {
    width: 100%;
}

.navBar ul ul li button:hover {
    display: block;
    background-color: #ff4600;
    color:white;
}

.content, .header, .footer, .navBar {
    border: 1px solid black;
    border-radius: 10px;
}

.content {
    background-color: rgb(169, 76, 255);
    overflow: auto;
}

.header {
    background-color: #aa6a87;
}

.header > h1 {
    vertical-align: middle;
    margin-top: 0;
    color: #ffffff;
    -webkit-text-stroke: 1px red;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 12px;
}

.footer {
    text-align: center;
    width: inherit;
    background-color: #f4c7da;
    bottom: 0;
    position: absolute;
    height: 50px;
}

.footer  p {
    margin-top: 0;
    color: #7032ff;
    font-size: 14px;
}

#addressStatic {
    float: left;
    width: 33%;
    text-align: center;
}

#facebookContainer {
    width: 33%;
    float: left;
}
#facebookLink{
    margin-top: 5px;
    height: 40px;
}

#number {
    font-size: 25px;
    margin-top: 12px;
}

