/**
 * Define all of the CSS styling for the base template
 *
 * @creator PRS
 * @created 1/23/2015
 * @last_modified_by PRS
 * @last_modified_date 2/7/2015
 */
body {
    width: 75%;
    background-color: #FFFDD0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    height: 100%;
}

.navBar {
    font-size: 0;
    padding: 0;
    margin: 0;
}
.navBar button {
    width: 20%;
    height: 40px;
    font-size: 25px;

}
.navBar #home {
    background-color: magenta;
}
.navBar #services {
    background-color: coral;
}
.navBar #products {
    background-color: indianred;
}
.navBar #hours {
    background-color: darkturquoise;
}
.navBar #contact {
    background-color: teal;
}
.header {
    background-color: aqua;
}
.header h1 {
    vertical-align: middle;
    text-align: center;
    margin-top: 0;
    font-size: 80px;
    margin-bottom: 0;
    padding-top: 4px;
    padding-bottom: 12px;
}
.footer {
    text-align: center;
    background-color: seagreen;
    bottom: 0;
    position: absolute;
    width: 75%;
}