<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            New Appearances Salon Django Test Server
        </title>

        {% load staticfiles %}

        <link rel ="stylesheet" type="text/css" href="{% static "base/base.css" %}" />
        {% block appStylesheet %}
        {% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
        <script src="{% static "base/base.js" %}"></script>
        {% block appJavascript %}
        {% endblock %}
    </head>
    <body>
        <div class = "header" id="templateHeader">
            <h1 id="headerText">
                New Appearances Hair Salon
            </h1>
        </div>
        <div class = "navBar" id="navBarContainer">
            <button id="home">Home</button>
            <button id="services">Services</button>
            <button id="products">Products</button>
            <button id="hours">Hours</button>
            <button id="location">Location</button>
            <button id="contact">Contact</button>
        </div>
        <div class = "content" id="templateContent">
            {%  block body %}
            {%  endblock %}
        </div>
        <div class = "footer" id="templateFooter">
            <p id="time"></p>
        </div>
    </body>
</html>