<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            New Appearances Salon Django Test Server
        </title>

        {% load staticfiles %}

        <!--Required 3rd party js/css-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
        <script src="{% static "base/js/base.js" %}"></script>

        <!--Project wide CSS and inheritance blocks for js/css-->
        <link rel ="stylesheet" type="text/css" href="{% static "base/css/base.css" %}" />
        {% block appStylesheet %}
        {% endblock %}

        {% block appJavascript %}
        {% endblock %}
    </head>
    <body>
        <!--Header-->
        <div class ="header" id="templateHeader">
            <h1 id="headerText">
                New Appearances Hair Salon
            </h1>
        </div>
        <!--Nav Bar-->
        <div class ="navBar" id="navBarContainer">
            <nav>
                <ul>
                    <li><button id="home">Home</button></li>
                    <li><button id="services">Services</button>
                        <ul>
                            <li><button id="services/haircuts">Haircuts</button></li>
                            <li><button id="services/colors">Colors</button></li>
                            <li><button id="services/straightening">Straightening</button></li>
                            <li><button id="services/skincare">Skincare</button></li>
                            <li><button id="services/perms">Perms</button></li>
                        </ul>
                    </li>
                    <li><button id="products">Products</button></li>
                    <li><button id="hours">Hours</button></li>
                    <li><button id="location">Location</button></li>
                    <li><button id="contact">Contact</button></li>
                </ul>
            </nav>
        </div>
        <!--Inherited Content-->
        <div class = "content" id="templateContent">
            {%  block body %}
            {%  endblock %}
        </div>
        <!--Footer-->
        <div class = "footer" id="templateFooter">
            <a href="http://www.facebook.com/pages/New-Appearances/136050426486694" target="_blank">
                <img src="{%  static "base/images/FindUsOnFacebook.png" %}" alt="Find us on Facebook" id="facebookLink">
            </a>
            <p id="time"></p>
        </div>
    </body>
</html>
