{% extends "base/base.html" %}

{% load staticfiles %}

{% block appStylesheet %}
    <link rel ="stylesheet" type="text/css" href="{% static "services/style/serviceMenu.css" %}" />
{% endblock %}

{% block body %}
    <h2>Click an Image to See Services</h2>
    {% for category in categories %}
        <a href="/services/{{category.category_name }}">
            <img id="{{category.category_name}}"
                 src="{{category.category_image.url}}"
                 alt="{{category.category_name}}" />
        </a>
    {% endfor %}
{% endblock %}
