{% extends "base/base.html" %}

{% load staticfiles %}

{% block appStylesheet %}
    <link rel ="stylesheet" type="text/css" href="{% static "services/services.css" %}" />
{% endblock %}

{% block appJavascript %}
    <script src="{% static "services/services.js" %}"></script>
{% endblock %}

{% block body %}
    <div class="serviceHeader">
        <a href ="/services">All Services</a>
        <a href ="/services/haircuts">Haircuts</a>
        <a href ="/services/colors">Colors</a>
        <a href ="/services/straightening">Straightening</a>
        <a href ="/services/perms">Perms</a>
        <a href ="/services/skincare">Skincare</a>
    </div>
    <h2>{{ category }}</h2>
    {% for service in service_list %}
        <div class="serviceName">
            <p>{{ service.service_name }}</p>
        </div>
        <div class="servicePrice">
            <p>{{ service.price_str }}</p>
        </div>
    {% endfor %}
{% endblock %}